<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-md mt-none">
        <div class="container">
            <div class="row mt-xl">
                <div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
                    <h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Individual</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-sm">
            <div class="col-md-3">
                <aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

                    <ul class="nav nav-list mb-xl show-bg-active">
                        <li><a data-hash data-hash-offset="110" href="#who-we-are">Who We Are</a></li>
                        <li><a data-hash data-hash-offset="110" href="#mission-vision">Mission &amp; Vision</a></li>
                        <li><a data-hash data-hash-offset="110" href="#leadership">Leadership</a></li>
                        <li><a data-hash data-hash-offset="110" href="#partners">Partners</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">

                <section id="who-we-are" class="mb-xlg">
                    <div class="nivo-slider mt-md pb-xl">
                        <div class="slider-wrapper theme-default">
                            <div id="nivoSlider" class="nivoSlider mt-none mb-xlg">
                                <img src="/asset/Template/img/demos/construction/slides/slide-construction-small-1.jpg" data-thumb="/asset/Template/img/demos/construction/slides/slide-construction-small-1.jpg" alt="" />
                            </div>
                            <div id="htmlcaption" class="nivo-html-caption"></div>
                        </div>
                    </div>

                    <h2 class="mb-none text-color-dark">Individual Profiles<br />
                        <span style="font-size: 18px;">Get help from doctors for your studies and search for free content.</span>
                    </h2>
                    <br/>
                    <a href="/login" class="btn btn-success">Register Now</a>
                </section>

                <hr class="solid tall">

                <section id="mission-vision" class="mb-xlg">

                    <div class="row mt-xl">
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-home icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Update/Share your profile</h2>
                                    <p class="mb-lg">Tool to connect with companies.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-notebook icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Add Medical Content</h2>
                                    <p class="mb-lg">Add unique and recent research and studies.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-target icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Showcase profile reviews</h2>
                                    <p class="mb-lg">Key to Attract companies and doctors.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-user icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Get help
                                    </h2>
                                    <p class="mb-lg">Get help for your studies and research.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <hr class="solid tall">

                <section id="partners" class="mb-xlg">
                    <h2 class="mb-none text-color-dark">Partners</h2>

                    <div class="row mt-lg">
                        <div class="content-grid content-grid-dashed mt-xlg mb-lg">
                            <div class="row content-grid-row">
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-1.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-2.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-3.png" alt="">
                                </div>
                            </div>
                            <div class="row content-grid-row">
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-4.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-5.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-6.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>

    </div>
</div>