<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-md mt-none">
        <div class="container">
            <div class="row mt-xl">
                <div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
                    <h1 class="text-uppercase font-weight-light mt-xl text-color-primary">About Us</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-sm">
            <div class="col-md-3">
                <aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

                    <ul class="nav nav-list mb-xl show-bg-active">
                        <li><a data-hash data-hash-offset="110" href="#who-we-are">Who We Are</a></li>
                        <li><a data-hash data-hash-offset="110" href="#mission-vision">Mission &amp; Vision</a></li>
                        <li><a data-hash data-hash-offset="110" href="#leadership">Leadership</a></li>
                        <li><a data-hash data-hash-offset="110" href="#partners">Partners</a></li>
                    </ul>

                </aside>
            </div>
            <div class="col-md-9">

                <section id="who-we-are" class="mb-xlg">
                    <div class="nivo-slider mt-md pb-xl">
                        <div class="slider-wrapper theme-default">
                            <div id="nivoSlider" class="nivoSlider mt-none mb-xlg">
                                <img src="/asset/Template/img/demos/construction/slides/slide-construction-small-1.jpg" data-thumb="/asset/Template/img/demos/construction/slides/slide-construction-small-1.jpg" alt="" />
                                <img src="/asset/Template/img/demos/construction/slides/slide-construction-small-2.jpg" data-thumb="/asset/Template/img/demos/construction/slides/slide-construction-small-2.jpg" alt="" />
                            </div>
                            <div id="htmlcaption" class="nivo-html-caption"></div>
                        </div>
                    </div>

                    <h2 class="mb-none text-color-dark">Who We Are</h2>
                    <p class="lead mb-xl mt-lg">Founded in 2018 by Lama Elbana, MediCloud We started with a small team in Gaza with a background in the medical software industry and a desire to build great technology to help companies and students succeed in fresh their information and share their ideas beside create a good back ground to find everything related to medical filed in one place. our goal is to be as a key to help each one interested in the medical field.</p>
                    <p>Our dreams now became a fact. I am proud to build like this website which connects the medical Students, designers, companies, clinics, hospitals, collages, doctors and who are interested in this field in one place then give them many useful services and tools to help them improve and share their knowledge in a way to create best environment to this segment of people.</p>
                </section>

                <hr class="solid tall">

                <section id="mission-vision" class="mb-xlg">

                    <div class="row mt-xl">
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-target icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Mission</h2>
                                    <p class="mb-lg">To help each one interested in the medical field and create the best environment to share and improve your medical knowledge.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-eye icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Vision</h2>
                                    <p class="mb-lg">To grow our business, whilst decoupling our environmental footprint from our growth and increasing our positive social impact.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <hr class="solid tall">

                <section id="leadership" class="mb-xlg">
                    <h2 class="mb-none text-color-dark">Leadership</h2>
                    <div class="row mt-xlg">
                        <div class="col-sm-6">
                            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom no-borders mb-xl">
                                <span class="thumb-info-side-image-wrapper p-none">
                                    <img src="/asset/Template/img/team/team-22.jpg" class="img-responsive" alt="" style="width: 160px;">
                                </span>
                                <span class="thumb-info-caption">
                                    <span class="thumb-info-caption-text">
                                        <h5 class="text-uppercase mb-xs">Lama albana - <small class="font-weight-light">Founder</small></h5>
                                        <p class="mb-none">dentist<br/>
                                            Dr. lama khaled El Banna<br/>
                                            Faculty of Oral and Dental Medicine<br/>
                                            Al - Azhar University</p>
                                    </span>
                                </span>
                            </span>

                        </div>
                        <div class="col-sm-6">
                            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom no-borders mb-xl">
                                <span class="thumb-info-side-image-wrapper p-none">
                                    <img src="/asset/Template/img/team/team-23.jpg" class="img-responsive" alt="" style="width: 160px;">
                                </span>
                                <span class="thumb-info-caption">
                                    <span class="thumb-info-caption-text">
                                        <h5 class="text-uppercase mb-xs">Mohammed Tafish - <small class="font-weight-light">Developer</small></h5>
                                        <p class="mb-none">Full stack developer.<br/>
                                            Faculty of Information Technology<br/>
                                        IUG
                                        </p>
                                    </span>
                                </span>
                            </span>

                        </div>

                    </div>

                </section>

                <hr class="solid tall">

                <section id="partners" class="mb-xlg">
                    <h2 class="mb-none text-color-dark">Partners</h2>

                    <div class="row mt-lg">
                        <div class="content-grid content-grid-dashed mt-xlg mb-lg">
                            <div class="row content-grid-row">
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-1.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-2.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-3.png" alt="">
                                </div>
                            </div>
                            <div class="row content-grid-row">
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-4.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-5.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="/asset/Template/img/logos/logo-6.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>

    </div>
</div>